name: Pipeline Cubic Infrastructure
on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          extensions: mbstring, xml
      - name: Install Dependencies
        run: composer install
      - name: Run Unit Tests
        run: vendor/bin/phpunit